$colorUno: blue;
$colorDos: black;
$colorTres: skyblue;
$colorCuatro: silver;

$colorCinco: grey;
$colorSeis: red;

$colorSiete: #AFEEEE;
$colorOcho: yellow;
$colorNueve: Tan;
$colorD: white;
$colorO: steelblue;
$colorD: powderblue;
$colorT: peachpuff;
$colorC: burlywood;
$colorQ:LightBlue;

